:root { 
    --color-creator-primary: #0d0d0c !important; 
    --color-creator-primary-dark: #000000 !important; 
    --color-creator-primary-text: #ffffff !important; 
    --color-creator-ticket: #0c0d0d !important; 
    --color-creator-ticket-dark: #000000 !important; 
    --color-creator-ticket-text: #fffaff !important; 
}